<h1><%= @movie.title %></h1>
<h3><%= @movie.year %></h3>
<h4><%= @movie.plot %></h4>


  <div>Title: <input type="text" name="title">
  </div>
  <div>Year: <input type="text" name="year">
  </div>
  <div>Plot: <input type="text" name="plot">
  </div>
<input type="submit" value="Link to nowhere">